code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  color:#565656;
  border: none;
  background-color: #f5f5f5;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}


b, strong {
   color: steelblue;
   }
   
